node_modules/
.env
uploads/products/*
!uploads/products/.gitkeep
*.log
.DS_Store

# Backend
backend/node_modules/
backend/.env
backend/uploads/

# Frontend
frontend/node_modules/
frontend/dist/

# General
node_modules/
.env
.DS_Store
